---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<!--
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->


<!--This is not elegant way. I'll fix it.-->
<h2>Panel Discussion on cvpaper.challenge conference 2021 (CCC2021)</h2>
<p>
  <a href="http://xpaperchallenge.org/cv/ccc/ccc2021/">cvpaper.challenge conference 2021 (CCC2021)</a>
</p>

<h2>Paper introduction of CVPR2020</h2>
<p>
  I introduced GANs papers of the CVPR2020 as the student representative of AI-SCHOLAR on July 2020.<br>
  <a href="https://jdla.connpass.com/event/177973/">日本ディープラーニング協会主催 CVPR 2020 技術報告会</a>
</p>

<h2>Paper introduction of ICLR2020</h2>
<p>
  I introduced a object-oriented representation learning paper of the ICLR2020 on June 2020.<br>
  <a href="https://exawizards.connpass.com/event/176947/">ICLR2020オンライン読み会</a><br>
  <a
    href="https://www.slideshare.net/HidekiTsunashima/space-unsupervised-objectoriented-scene-representation-via-spatial-attention-and-decomposition">Presentation
    Material</a>
</p>

<h2>Survey and presentation of Disentanglement</h2>
<p>
  I surveyed the disentanglement research domain and gave a presentation on Oct 2019.<br>
  <a href="https://nlpaper-challenge.connpass.com/event/148486/">NLP/CV SoTA Survey Challenge #4</a><br>
  <a
    href="https://www.slideshare.net/HidekiTsunashima/disentanglement-surveycan-you-explain-how-much-are-generative-models-disentangled">Presentation
    Material</a>
</p>

<h2>Introduction of GPU parallelization</h2>
<p>
  I introduced the GPU parallelization of Chainer in AIST on Sept 2019.<br>
  <a href="https://www.slideshare.net/HidekiTsunashima/ss-168694472">Presentation Material</a>
</p>

<h2>Paper introduction of CVPR2019</h2>
<p>
  I introduced a GANs paper of the CVPR2019 in AIST on Aug 2019.<br>
  <a href="https://www.slideshare.net/HidekiTsunashima/maxsliced-wasserstein-distance-and-its-use-for-gans">Presentation
    Material</a>
</p>